apache-tomcat-7.0.64/wtpwebapps/SMMTKexampleSOAP/wsdl/SsmkTestSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example.ssmk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example.ssmk" xmlns:intf="http://example.ssmk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example.ssmk" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCustomer">
    <complexType>
     <sequence>
      <element name="CustomerID" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCustomerResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getCustomerReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCustomerResponse">

      <wsdl:part element="impl:getCustomerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCustomerRequest">

      <wsdl:part element="impl:getCustomer" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SsmkTestSoap">

      <wsdl:operation name="getCustomer">

         <wsdl:input message="impl:getCustomerRequest" name="getCustomerRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCustomerResponse" name="getCustomerResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SsmkTestSoapSoapBinding" type="impl:SsmkTestSoap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCustomer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCustomerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SsmkTestSoapService">

      <wsdl:port binding="impl:SsmkTestSoapSoapBinding" name="SsmkTestSoap">

         <wsdlsoap:address location="http://localhost:8081/SMMTKexampleSOAP/services/SsmkTestSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
